In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
DE_TRAIN = "/data/pinello/PROJECTS/2023_08_ZL/kaggle_scp/data/de_train.parquet"

In [9]:
df = pd.read_parquet(DE_TRAIN)

In [10]:
df.head()

,cell_type,sm_name,sm_lincs_id,SMILES,control,A1BG,A1BG-AS1,A2M,A2M-AS1,A2MP1,...,ZUP1,ZW10,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11B,ZYX,ZZEF1
0,NK cells,Clotrimazole,LSM-5341,Clc1ccccc1C(c1ccccc1)(c1ccccc1)n1ccnc1,False,0.104720,-0.077524,-1.625596,-0.144545,0.143555,...,-0.227781,-0.010752,-0.023881,0.674536,-0.453068,0.005164,-0.094959,0.034127,0.221377,0.368755
1,T cells CD4+,Clotrimazole,LSM-5341,Clc1ccccc1C(c1ccccc1)(c1ccccc1)n1ccnc1,False,0.915953,-0.884380,0.371834,-0.081677,-0.498266,...,-0.494985,-0.303419,0.304955,-0.333905,-0.315516,-0.369626,-0.095079,0.704780,1.096702,-0.869887
2,T cells CD8+,Clotrimazole,LSM-5341,Clc1ccccc1C(c1ccccc1)(c1ccccc1)n1ccnc1,False,-0.387721,-0.305378,0.567777,0.303895,-0.022653,...,-0.119422,-0.033608,-0.153123,0.183597,-0.555678,-1.494789,-0.213550,0.415768,0.078439,-0.259365
3,T regulatory cells,Clotrimazole,LSM-5341,Clc1ccccc1C(c1ccccc1)(c1ccccc1)n1ccnc1,False,0.232893,0.129029,0.336897,0.486946,0.767661,...,0.451679,0.704643,0.015468,-0.103868,0.865027,0.189114,0.224700,-0.048233,0.216139,-0.085024
4,NK cells,Mometasone Furoate,LSM-3349,C[C@@H]1C[C@H]2[C@@H]3CCC4=CC(=O)C=C[C@]4(C)[C...,False,4.290652,-0.063864,-0.017443,-0.541154,0.570982,...,0.758474,0.510762,0.607401,-0.123059,0.214366,0.487838,-0.819775,0.112365,-0.122193,0.676629

In [11]:
df = df.drop(['sm_lincs_id', 'SMILES', 'control'], axis=1)
df = pd.melt(df, id_vars=['cell_type', 'sm_name'], var_name='gene', value_name='p_value')
df.sort_values(['cell_type', 'sm_name'], inplace=True)

In [12]:
df.head()

     cell_type    sm_name      gene    p_value
141    B cells  Alvocidib      A1BG   5.973634
755    B cells  Alvocidib  A1BG-AS1   1.339989
1369   B cells  Alvocidib       A2M   7.261231
1983   B cells  Alvocidib   A2M-AS1   8.021802
2597   B cells  Alvocidib     A2MP1  24.671829

In [13]:
df['predict'] = 0

In [14]:
df['diff'] = (df['p_value'] - df['predict']) ** 2

In [15]:
df.head()

     cell_type    sm_name      gene    p_value  predict        diff
141    B cells  Alvocidib      A1BG   5.973634        0   35.684299
755    B cells  Alvocidib  A1BG-AS1   1.339989        0    1.795570
1369   B cells  Alvocidib       A2M   7.261231        0   52.725471
1983   B cells  Alvocidib   A2M-AS1   8.021802        0   64.349307
2597   B cells  Alvocidib     A2MP1  24.671829        0  608.699135

In [16]:
df = df.drop(['gene', 'p_value', 'predict'], axis=1)

In [17]:
df.head()

     cell_type    sm_name        diff
141    B cells  Alvocidib   35.684299
755    B cells  Alvocidib    1.795570
1369   B cells  Alvocidib   52.725471
1983   B cells  Alvocidib   64.349307
2597   B cells  Alvocidib  608.699135

In [18]:
grouped = df.groupby(['cell_type', 'sm_name'])

In [19]:
df= grouped.mean()

In [20]:
np.mean(np.sqrt(df['diff']))

1.2814530984649364